@charset "UTF-8";

.wrapper {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.pagelink-list {
    display: flex;
    margin-bottom: 80px;
}

.pagelink-list li {
    width: calc(100% / 4);
    border-left: solid 1px #1f1f1f;
    font-size: 14px;
    text-align: center;
    position: relative;
}

.pagelink-list li:last-child {
    border-right: solid 1px #1f1f1f;
}

.pagelink-list li::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #1f1f1f;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}

.pagelink-list li a {
    display: block;
}

@media screen and (max-width: 767px) {
    .pagelink-list {
        margin-bottom: 40px;
    }

    .pagelink-list li {
        font-size: 12px;
    }
}