@charset "UTF-8";

.wrapper {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.pagelink-list {
    display: flex;
    margin-bottom: 80px;
}

.pagelink-list li {
    width: calc(100% / 4);
    border-left: solid 1px #1f1f1f;
    font-size: 14px;
    text-align: center;
    position: relative;
}

.pagelink-list li:last-child {
    border-right: solid 1px #1f1f1f;
}

.pagelink-list li::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #1f1f1f;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}

.pagelink-list li a {
    display: block;
}

.section-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 60px;
    position: relative;
}

.section-title span {
    max-width: 1000px;
    display: block;
    padding: 0 20px;
    margin: 0 auto;
}

.section-title::before {
    content: "";
    width: calc((100% - 1000px) / 2);
    height: 1px;
    background-color: #1f1f1f;
    position: absolute;
    top: 12px;
    left: 0;
}

#philosophy {
    margin-bottom: 120px;
    overflow: hidden;
    position: relative;
}

#philosophy .img-top {
    width: clamp(390px, 50vw, 460px);
    position: absolute;
    top: 70px;
    left: 50%;
}

#philosophy .text-area {
    width: 70%;
    background-color: #fafafa;
    padding: 7% 0 10% 6%;
    margin-top: 120px;
}

#philosophy .text-area .inner {
    width: clamp(250px, 34vw, 350px);
}

#philosophy .text-area .inner .title {
    font-family: 'Zen Old Mincho', serif;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 40px;
}

#philosophy .text-area .inner .text {
    font-size: 15px;
    line-height: 2;
    margin-bottom: 30px;
}

#philosophy .img-bottom {
    max-width: 280px;
    margin: -60px 0 0 10%;
}

@media screen and (max-width: 767px) {
    .pagelink-list {
        margin-bottom: 40px;
    }

    .pagelink-list li {
        font-size: 12px;
    }

    .section-title {
        margin-bottom: 10px;
    }

    .section-title::before {
        content: none;
    }

    #philosophy {
        margin-bottom: 60px;
        position: static;
    }

    #philosophy .img-top {
        width: 100%;
        margin-bottom: 20px;
        position: static;
    }

    #philosophy .text-area {
        width: 100%;
        padding: 20px;
        margin: 0 0 20px;
    }

    #philosophy .text-area .inner {
        width: 100%;
    }

    #philosophy .img-bottom {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}