@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    background-color: #fdfdfd;
    color: #333;
    font-family: 'YuGothic','Yu Gothic', 'sans-serif';
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

li{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

/*-------------------------------------------
スマートフォン
-------------------------------------------*/
@media  screen and (max-width: 767px ) {}