@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    background-color: #f2ece1;
    color: #333;
    font-family: 'Meiryo', 'Hiragino Sans', sans-serif;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}
iframe{
    vertical-align: bottom;
}


/*------------------------------------
スマートフォン
------------------------------------*/
@media screen and (max-width: 767px){

}